.App {
  text-align: left;
  background-color: lightblue;
  width: 50%;
  margin: 100px auto;
  padding: 16px;
}

.todo-item {
  cursor: pointer;
}

.todo-item[data-completed="true"] {
  text-decoration: line-through;
}
